/*Общие*/

form .input-block {
    margin-bottom: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .input-block input {
     max-width: 100%;
     width: 100%;
}
form label {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}
form label.checkbox {
    display: flex;
    align-items: center;
}
form label.checkbox input {
    margin-right: 0.5rem;
}
form textarea {
    width: 100%;
    resize: none;
    height: 8rem;
    border: 1px solid #bdbdbd;
    padding: 0.5rem;
}
form input[type=text],
form input[type=email] {
    padding: 0.5rem 1rem;
    border: 1px solid #bdbdbd;
}
form .input-block span.required {
    color: red;
}

@media (max-width: 600px){
    form label {
        width: 100%;
    }
}


/*header*/

.mini-header {
    display: none;
    background: #f5f5f5;
    padding: 10px 15px;
    justify-content: flex-end;
    align-items: center;
}

.mini-header a {
    color: inherit;
    margin-left: 10px;
}

header .header-content {
    display: flex;
    justify-content: space-between;
}

header .header-contacts {
    text-align: right;
    font-size: 1.4rem;
}

header .header-contacts span {
    color: #3c3c3c;
}

header .header-contacts .phone {
    font-size: 2.6rem;
}
header .header-contacts .phone a {
    color: inherit;
}

.info-block {
    text-align: center;
    color: #0080bb;
    font-weight: 600;
}
.info-block span {
    display: block;
}

.move-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.6;
    transition: 0.3s;
    display: none;
}

.move-up:hover {
    opacity: 1;
    cursor: pointer;
}

.move-up img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 950px) {
    header .header-contacts {
        margin-top: 40px;
    }
}

@media screen and (max-width: 500px) {
    header .header-contacts {
        margin-top: 40px;
        display: none;
    }

    .mini-header {
        display: flex;
    }
}

@media screen and (max-width: 400px) {
    .info-block span {
        display: inline;
    }
}

/*Custom styles*/

figure {
    margin: 1rem;
}

.text-center {
    text-align: center;
}

.textwidget {
    padding: 2rem;
}

.calc-link {
    display: block;
}

.calc-link .title {
    font-size: 2rem;
}

.calc-link .fa {
    font-size: 112px;
    margin-top: 1rem;
}

.steps {
    display: flex;
    flex-wrap: wrap;
}
.steps .item {
    width: 25%;
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.steps .item img {
    width: 20rem;
}
.steps .item .text {
    font-size: 1.4rem;
    margin-top: 1rem;
}
.equipments {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 950px) {
    .steps .item {
        width: 50%;
    }
    .steps .item .text {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 500px) {
    .steps .item {
        width: 100%;
    }
    .steps .item img {
        width: 15rem;
    }
}

/* Calc */

.page-calc {}
.page-calc .items {
    font-size: 1.4rem;
    margin: 2rem 0;
}
.page-calc .items .row {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.page-calc .items .row > div {
    padding: 0 1rem;
    text-align: center;
}
.page-calc .items .title-qty {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-calc .items .title-qty .title {
    width: 80%;
}
.page-calc .items .title-qty .qty {
    width: 20%;
}
.page-calc .items .price-sum {
    width: 30%;
    display: flex;
}
.page-calc .items .price-sum > div {
    width: 50%;
}

.page-calc .items .row .title {
    text-align: left;
}

.page-calc .items .head {
    background: #0080bb;
    color: #ffffff;

}
.page-calc .items .item:hover {
    background: #f3f3f3;
}

.page-calc .items .item .qty {}
.page-calc .items .item .qty .wrapper {
    display: flex;
    justify-content: center;
}
.page-calc .items .item .qty input {
    width: 4rem;
    margin: 0 1rem;
    text-align: center;
}
.page-calc .items .item .qty .minus,
.page-calc .items .item .qty .plus {
    font-size: 1.6rem;
    padding: 0 0.5rem;
    cursor: pointer;
    border: 0;
}


.page-calc .items .total {
    text-align: right;
    font-size: 1.8rem;
    margin-top: 1rem;
}
.page-calc .items .total .value {
    font-weight: 600;
}
.page-calc form.sendOrder {
    width: 500px;
    max-width: 100%;
    border: 1px solid #ececec;
    padding: 2rem;
    display: none;
}
.page-calc form.sendOrder .input-block {
    flex-wrap: nowrap;
}

.page-calc form.sendOrder .input-block input {
    width: unset;
}

.page-calc .message {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}
.page-calc .message.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.page-calc .message.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.page-calc .btn {
    background: #0080bb;
    color: #ffffff;
}
.page-calc .btn:disabled {
    background: #c3c3c3;
    color: #ffffff;
    border-color: #c3c3c3;
}
.page-calc .description {
    margin-top: 4rem;
}
@media screen and (max-width: 700px) {
    .page-calc .items .title-qty .title {
        width: 75%;
    }
    .page-calc .items .title-qty .qty {
        width: 25%;
    }
}

@media screen and (max-width: 600px) {

    .page-calc .items .title-qty {
        flex-wrap: wrap;
        width: 60%;
    }

    .page-calc .items .title-qty .title {
        width: 100%;
    }
    .page-calc .items .title-qty .qty {
        width: 100%;
    }
    .page-calc .items .item .qty .wrapper {
        justify-content: flex-start;
    }

    .page-calc .items .head .title-qty .qty {
        display: none;
    }

    .page-calc .items .price-sum {
        width: 40%;
    }
    .page-calc .items .title-qty .qty {
        margin-top: 0.5rem;
    }

    .page-calc form.sendOrder {
        width: 100%;
        padding: 0;
        border: 0;
    }
    .page-calc form.sendOrder .input-block {
        flex-wrap: wrap;
    }

    .page-calc form.sendOrder label {
        margin-bottom: .5rem;
        width: 100%;
    }
    .page-calc form.sendOrder input[type=text],
    .page-calc form.sendOrder input[type=email] {
        width: 100%;
    }
    .page-calc .btn {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .page-calc .items {
        font-size: 1.2rem;
    }

    .page-calc .items .change-qty {
        width: 20px;
        color: #fff;
        background: #0080bb;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Business */

.page-business {}
.page-business {}
.page-business {}
.page-business .business-categories {
    margin-bottom: 2rem;
}

.page-business .business-categories {
    display: flex;
    flex-wrap: wrap;
}
.page-business .business-categories .item {
    width: 25%;
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 2.5rem;
}
.page-business .business-categories .item img {
    width: 20rem;
    max-width: 80%;
    margin: auto;
}
.page-business .business-categories .item .text {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: #ff6600;
}

.page-business .business-categories .item > a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: inherit;
    font-weight: 500;
    height: 100%;
}

@media screen and (max-width: 950px) {
    .page-business .business-categories .item {
        width: 33.33%;
    }
}

@media screen and (max-width: 600px) {
    .page-business .business-categories .item {
        width: 50%;
    }
    .page-business .business-categories .item img {
        width: 15rem;
    }

    .page-business .business-categories .item .text {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 500px) {

    .page-business .business-categories .item img {
        width: 15rem;
    }
}